.dayTitle {
  color: #ffc600;
  text-shadow: 2px 1px 2px black;
}

.challengeContainer {
  height: 90vh;
  font-size: 10px;
  background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
}

.key {
  border: .2rem solid black;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  min-width: 100px;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}


.active {
  transform: scale(1.1);
  border: .2rem solid #ffc600;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  min-width: 100px;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}


kbd {
  text-transform: uppercase;
  display: block;
  font-size: 28px;
  padding: 0.8rem;
}

.sound {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffc600;
}

.keyContainer {
  padding-top: 140px;
  height: 360px;
  width: 400px;
  display: grid;
  grid-area: center;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}
